<?xml version="1.0"?>
<launch>
    <include file="$(find fanuc_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true" />
    </include>

    <include file="$(find fanuc_moveit_config)/launch/demo.launch"></include>

    <arg name="node_start_delay" default="0.0" />

    <node name="IKActionServer" type="IK_server_node" pkg="kinematics_action" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />

    <node name="IKActionClient" type="IK_client_node" pkg="kinematics_action" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />

    <!-- <node name="joint_state_publisher_gui" type="joint_state_publisher_gui" pkg="joint_state_publisher_gui" /> -->

</launch>